// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.ascii-art-previewer {
  overflow-y: scroll;

  .ascii-preview {
    font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
    font-size: 11pt;
    line-height: normal;
  }

  .preview-error {
    margin-left: 1em;
  }
}
